* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 1000;
}

:root {
  --color-primary: #0a4040;
  --color-primary-light: #0a4f4f;

  --color-light: #f2ebdc;
  --color-text: #0d0d0d;
  --color-text-accent: var(--color-light);

  --color-accent: #d97925;

  --grad-main: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-primary-light)
  );

  --border-soft: 1px solid var(--color-border);
  --border-radius: 10px;
  --box-shadow: 5px 5px 5px #0d0d0d55;
}

html {
  max-height: 100vh;
  overflow-y: hidden;
}

body {
  background: var(--color-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 70vw;
  max-width: 450px;
  min-width: 200px;
  min-height: 85vh;
  padding: 3%;
  background: var(--grad-main);
  box-shadow: var(--box-shadow);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.screen {
  width: 100%;
  height: 10vh;
  background: var(--color-light);
  color: var(--color-text);
  border: var(--border-soft);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: right;
  font-size: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  margin: 0.2em 0 1em;
}

.buttons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.button {
  font-size: 2em;
  padding: 0;
  width: 80px;
  height: 50px;
  margin: 10px 0;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 0 #0d0d0d55;
  color: var(--color-text);
  transition: 0.2s;
  cursor: pointer;
}

.button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.signal {
  background: var(--color-accent);
  color: var(--color-text-accent);
}

@media screen and (max-width: 860px) {
  main {
    width: 80vw;
  }

  .screen {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  main {
    width: 90vw;
    padding: 2em;
  }
}

@media screen and (max-width: 490px) {
  body {
    display: block;
    padding: 0;
  }

  main {
    background: #033030;
    width: 100vw;
    height: 100vh;
    margin: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    gap: 0.2em;
    width: 90%;
  }
  .screen {
    width: 360px;
  }
}
