* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 1000;
}

html {
  max-height: 100vh;
  overflow: hidden;
}

body {
  background: #eee;
  min-height: 100vh;
}

main {
  width: 70vw;
  max-width: 500px;
  min-width: 200px;
  min-height: 90vh;
  padding: 3%;
  margin: 2% auto;
  background: linear-gradient(45deg, #008, #00e);
  box-shadow: 5px 5px 5px #0004;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.screen {
  width: 100%;
  height: 10vh;
  background: #eee;
  margin: 0 auto 10%;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #0004;
  text-align: right;
  font-size: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

.buttons {
  width: 100%;
  color: #111;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  margin: 20px auto 0;
}

.button {
  font-size: 2em;
  padding: 0;
  width: 80px;
  height: 50px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #000;
  transition: 0.2s;
  cursor: pointer;
}

.button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.signal {
  background: linear-gradient(45deg, #f00, #800);
  color: #eee;
}

@media screen and (max-width: 860px) {
  main {
    width: 80vw;
  }

  .screen {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  main {
    width: 90vw;
  }
}

@media screen and (max-width: 490px) {
  main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    padding: 1%;
  }
  .buttons {
    gap: 2%;
    width: 90%;
  }
  .screen {
    width: 90%;
  }
}
