* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #2563EB;
  --color-accent: #B5A7F2;
  --color-bg: #FAFAFA;
  --color-text: #1F1F1F;
  --color-muted: #4A4A4A;
  --color-neutral: #F4F4F7;
}

.bg-blue {
  background-color: var(--color-primary);
}

.bg-white {
  background-color: var(--color-secondary);
}

.text-black {
  color: var(--color-primary);
}

section {
  height: 100vh;
  width: 100vw;
  display: none;
}

section.active {
  display: block;
}

button:active {
  transform: scale(0.9);
}
