* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100vw;
    display: none;
}

section.active {
    display: block;
}

button:active {
    transform: scale(.9);
}